body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #fff;
    background-repeat: repeat;
    background-size: contain;
    background-image: url(images/bg800bulbs.jpg);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-family: Arial, sans-serif;
    align-items: center;
    background-color: #f2f2f2;
}

table th,
table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

table th {
    background-color: #007acc;
    color: white;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}