body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #fff;
    background-image: url(images/bg800bulbs.jpg);
    background-repeat: repeat;
    background-size: contain;
}

#Container {
    width: 1200px;
    background-color: white;
    margin: 30px auto;
    padding: 30px;
}

header {
    height: 318px;
    background-image: url(images/htgreen-hero.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.Navtop {
    width: 1200px;
    background-color: white;
    margin: 30px auto;
    padding: 15px;
    border-radius: 15px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: right;
}

nav li {
    display: inline;
    margin: 10px;
}

nav a {
    text-decoration: none;
    font-weight: bold;
    color: #333;
}

main {
    padding: 2rem;
    border-top: 2px solid #d6790e;
}

h2 {
    color: black;
    font-size: 25px;
    font-weight: bold;
    margin-top: 2rem;
}

blockquote {
    background-color: #f4f4f4;
    border-left: 10px solid #d6790e;
    margin: 1rem 0;
    padding: 1rem;
    font-style: italic;
}

.backtotop {
    padding: 20px;
    margin: 20px 0;
    text-align: center;
    list-style: none;

}

.backtotop a {
    text-decoration: none;
    font-weight: bold;
    border: 2px double grey;
    border-radius: 15px;
    padding: 10px 20px;
    display: inline-block;
    color: #333;
}

footer {
    width: 1180px;
    background-color: #d6790e;
    margin: 30px auto;
    padding: 15px;
    border-radius: 15px;
    text-align: center;
    color: white;
}
 .visually-hidden-focusable {
    position: absolute;
    left: -999px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.visually-hidden-focusable:focus {
    position: static;
    width: auto;
    height: auto;
    margin: 10px;
    padding: 8px;
    background: #d6790e;
    color: #fff;
    z-index: 1000;
    font-weight: bold;
}
